*.log
*.swo
*.swp
.DS_Store
.git/
.gitignore
.idea/
.vscode/
mockly-backend/.DS_Store
mockly-backend/.idea/
mockly-backend/jest.config.js
mockly-backend/node_modules/
mockly-backend/public/.DS_Store
mockly-backend/src/.DS_Store
mockly-backend/tests/
mockly-frontend/dist/.DS_Store
mockly-frontend/public/.DS_Store
npm-debug.log
README.md
yarn-error.log
