*.log
*.swo
*.swp
.DS_Store
.git/
.gitignore
.idea/
.vscode/
backend/.DS_Store
backend/.idea/
backend/jest.config.js
backend/node_modules/
backend/public/.DS_Store
backend/src/.DS_Store
backend/tests/
frontend/dist/.DS_Store
frontend/public/.DS_Store
npm-debug.log
README.md
yarn-error.log
