!.vscode/extensions.json
*.local
*.log
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
.idea
.DS_Store
.vscode/*
dist
dist-ssr
lerna-debug.log*
logs
mockly-frontend/.idea
node_modules
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
