.rs-header,
.rs-panel,
.rs-modal-content {
  background-color: var(--rs-bg-card);
}

.rs-header {
  border-bottom: 1px solid var(--rs-border-primary);
}

.rs-panel {
  border: 1px solid var(--rs-border-primary);
  width: 50%;
}

.rs-code {
  background-color: var(--rs-bg-code);
}

.rs-code pre {
  font-size: 13px;
  margin: 0;
}

.rs-dropdown-menu {
  padding: 5px
}

.rs-dropdown-menu .rs-dropdown-item {
  border-radius: 5px;
  padding: 5px 8px;
}

.rs-dropdown-menu .rs-dropdown-item > .rs-icon {
  margin: 0;
  text-align: center;
  width: 20px;
}

.rs-content {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: space-between;
  padding: 16px;
}

.rs-logo,
.rs-logo-svg,
.rs-heading,
.rs-modal-title {
  color: var(--rs-primary-400);
}

.rs-modal-title {
  font-size: 20px;
  font-weight: bold;
}

.rs-table-scrollbar-horizontal,
.rs-table-scrollbar-horizontal .rs-table-scrollbar-handle {
  height: 7px;
}

.rs-table-scrollbar-vertical,
.rs-table-scrollbar-vertical .rs-table-scrollbar-handle {
  width: 7px;
}

.rs-picker-has-value .rs-btn .rs-picker-toggle-value,
.rs-picker-has-value .rs-picker-toggle .rs-picker-toggle-value {
  color: var(--rs-text-primary);
}

.rs-picker-toggle-active,
.rs-picker.rs-picker-focused {
  box-shadow: none;
}

.rs-input:focus,
.rs-btn:focus-visible,
.rs-picker-toggle:focus-visible {
  outline: none;
}

.rs-picker-toggle:focus-visible {
  outline: 1px solid var(--rs-input-focus-border);
}

.rs-message-container {
  padding: 10px 18px 10px 10px;
}

.rs-toast-container-top-center,
.rs-toast-container-top-end,
.rs-toast-container-top-start {
  top: 15px;
}

.rs-toast-container-bottom-end,
.rs-toast-container-top-end {
  right: 18px;
}

.rs-picker-disabled .rs-picker-toggle-label {
  color: var(--rs-text-disabled) !important;
}

.rs-btn-icon.rs-btn {
  padding: 6px;
}

.rs-popover {
  box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
  filter: none;
}

@media only screen and (max-width: 767px) {
  body {
    overflow-y: auto !important;
  }

  .rs-content {
    flex-direction: column;
    justify-content: flex-start;
  }

  .rs-panel {
    width: 100%;
  }
}