!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
*.launch
*.log
*.pid
*.pid.lock
*.seed
*.sublime-workspace
.c9/
.classpath
.DS_Store
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.project
.settings/
.temp
.tmp
.vscode/*
/.idea
/.nyc_output
/build
/coverage
/dist
/node_modules
lerna-debug.log*
logs
npm-debug.log*
pids
pnpm-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
yarn-debug.log*
yarn-error.log*
